footer {
    background-color: #212529; /* Dark background color for the footer */
    color: #f8f9fa; /* Light text color for contrast */
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100vw !important; /* Ensure full viewport width */
    margin: 0 !important;
}

.footer .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#footer-placeholder {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
}

.payment-methods img {
    /* Adjust size or add margin if needed */
    margin-right: 5px; 
}

.nav-link {
    /* Ensure category links match mockup style */
    color: #f8f9fa; /* Light text color */
}

.nav-link:hover {
    color: #39FF14; /* Example hover color */
}

.footer p {
    color: #D3D3D3;
}

.input-group .btn-secondary {
    background-color: #39FF14;
    color: #1f1f1f; /* Texto oscuro */
    border-color: #39FF14;
}

.input-group .btn-secondary:hover {
    background-color: #39FF14;
    border-color: #39FF14;
    box-shadow: 0 0 10px #39FF14;
}

.input-group .form-control {
    background-color: #1a1a1a; /* Fondo oscuro para el input */
    border-color: #495057; /* Borde consistente */
    color: #FFFFFF; /* Texto blanco para el input */
}
