html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    box-sizing: border-box;
    background: linear-gradient(135deg, #1f1f1f 60%, #1E90FF 100%);
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100% !important; /* Force body to full width */
    margin: 0 !important;
    padding: 0 !important;
}

.container-products {
  max-width: 1500px;
  margin: 50px auto 50px;     /*Importante: orden [arriba] [izquierda/derecha] [abajo]*/
  display: flex;           /*alinear contenedores */
  flex-wrap: wrap;         /*Los contenedores bajen a la siguiente fila */
  gap: 30px;               /* espacio entre los contenedores individuales*/
}

/*Cada Contenedor*/
.card-product {
  width: 265px;
  border: 3px solid #39FF14;  
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(57, 255, 20, 0.7);
}

/* Imagen */
.card-product img {
  width: 100%;   /* ocupa todo el ancho del contenedor */
  height: 200px;  /* mantiene la proporción original */
  display: block; /* evita espacios debajo de la imagen */
}

#my-carousel {
  width: 90%; 
  max-width: 1700px; 
  margin: 0px auto 50px; /* Centra el carrusel horizontalmente */
  border: 3px solid #39FF14;  
  border-radius: 30px;
}

#my-carousel .carousel-inner {
  max-height: 500px; /* Mantiene una altura máxima */
  overflow: hidden; /* Evita que el contenido desborde */
}


#my-carousel .carousel-item img {
  object-fit: contain; /* Mantener la proporción imagen */
  width: 100%; 
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 500px; /* Opcional: limita la altura máxima */
  display: block; /* Asegura que no haya espacios debajo de la imagen */
  margin: 0 auto; /* Centra la imagen si es más pequeña que el contenedor */
}

#my-carousel .carousel-indicators button {
  background-color: #39FF14; /* Color de los puntos inactivos */
}

#my-carousel .carousel-indicators .active {
  background-color: #007bff; /* Color del punto activo */
}

#my-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 8px;
}

#my-carousel .carousel-caption p {
  color: #D3D3D3;
}

#my-carousel .btn-primary {
  background-color: #007bff; /* Color por defecto del botón, si no está ya definido */
  border-color: #007bff;
}

#my-carousel .btn-primary:hover {
  background-color: #39FF14;
  border-color: #39FF14;
  box-shadow: 0 0 10px #39FF14;
}

.header header {
    padding-left: 2rem;
    padding-right: 2rem;
}

.header .col-md-3,
.header .text-end {
    display: flex;
    justify-content: center;
    align-items: center;
}


