/* Contenedor principal */
.container-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center; /* centrar cards */
  margin: 50px auto;
  max-width: 1500px;
}

/* Cada card */
.card-product {
  display: flex;
  flex-direction: column; /* contenido en columna */
  justify-content: space-between; /* separa imagen/texto y botón */
  width: 300px; /* ancho base */
  border: 3px solid #07b690;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: #000000d2;
}

.card-product:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Imagen */
.card-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* TEXTO(titulo+precio+descripción) */
.card-content {
  flex-grow: 1; /* ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column;
}

/* Título */
.card-titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Precio */
.card-precio {
  font-size: 20px;
  color: #08bd71;
  margin-bottom: 5px;
}

/* Descripción */
.card-desc {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 15px;
}
