.my-container{
    border: 2px solid #000000;
    background-color:#0000009c;
    max-width: 1200px;    /* Limita el ancho máximo */
    margin: auto;
    padding: 50px;       /* Espacio interno */
    box-sizing: border-box;
}

.producto-detalle {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.descripcion {
    font-size: 1.2rem;
    font-weight: 400;
}

/*CONTENEDOR DE PRODUCTOS RELACIONADOS */
.relacionados-container {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.781);
    border-top: 2px solid #198754;
    border-radius: 8px;
}

.relacionados-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* BARRA */
.relacionados-barra {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

/* CADA PRODUCTO */
.relacionado {
    text-align: center;
    color: #fff;
    max-width: 150px;
    cursor: pointer;
}

.relacionado img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
    border: 2px solid #047c54;
    background-color: #ffffff1e;
    margin-bottom: 10px;
}

.relacionado:hover {
    box-shadow: 0 0 12px #0dfd41;
    border-radius: 6px;
}

.precio {
    color: #198754;
    margin-bottom: 1rem;
}

/*BOTONES*/
.btn-comprar {
    margin: 30px auto 30px;
    background-color: #15fd0d;
    color: #000000;
    padding: 0.5rem 2.5rem;
    font-size: 1.1rem;
    border: 2px  solid #000000;
    border-radius: 6px;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: #04d9ff;
}

/*BARRA DE MINIATURAS*/
.miniaturas-barra {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.miniatura {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: box-shadow 0.2s;
    background-color:#ffffff1e
}

.miniatura:hover {
    box-shadow: 0 0 8px #0dfd41;
}